modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[deployment]
run = ["npm", "install", "&&", "node", "server.js"]
build = ["npm", "install"]

[workflow]
oneshot = true

[[ports]]
localPort = 3000
externalPort = 80
